*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    background:#f4f4f4;
}

.gallery-section{
    width:90%;
    max-width:1200px;
    padding:20px;
    margin:60px auto;
    background-color:wheat;
    border:#f4f4f4 solid 2px;
    border-radius:10px;
}

.section-title{
    text-align:center;
    padding:20px 0;
    font-size:32px;
    color:#333;
}

.gallery{
    display:grid;
    grid-template-columns: repeat(5, 1fr); 
    gap:20px;
}

.gallery img{
    width:100%;
    height:220px;              
    object-fit:cover;          
    border-radius:12px;
    cursor:pointer;

    opacity:0;
    transform:translateY(20px);
    animation: fadeUp 0.6s ease forwards;

    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.gallery img:hover{
    transform: scale(1.07) translateY(-6px);
    box-shadow: 0 25px 45px rgba(0,0,0,0.35);
}

@keyframes fadeUp{
    to{
        opacity:1;
        transform:translateY(0);
    }
}


.Laptop (min-width: 769px) and (max-width: 1024px){
    .gallery{
        grid-template-columns: repeat(4, 1fr);
    }
}


.Tablet (min-width: 481px) and (max-width: 768px){
    .gallery{
        grid-template-columns: repeat(3, 1fr);
    }
}


.Mobile (min-width: 320px) and (max-width: 480px){
    .gallery{
        grid-template-columns: repeat(1, 1fr);
    }
}

.Desktop (min-width: 1025px) and (max-width: 1200px){
    .gallery{
        grid-template-columns: repeat(5, 1fr);
    }
}
.Responsive{
    margin-top:20px;
    text-align:center;
    color:white; 
    background:  #ea9393;
    border: #07bdb4 solid 8px;
    font-size: 18px;
    border-radius: 12px;
}